.calculator-button
{
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 5px;
}

.double-wide-button
{
    width: 90px;
    height: 40px;
    padding: 5px;
    margin: 5px;
}

#output-box
{
    text-align: right;
    background-color: grey;
    padding: 5px;
}

#calc-container
{
    width: 215px;
    border: 5px solid black;
    background-color: yellow;
}